.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 300px;
  /* same height/width as in the html! */
  height: 80px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px
}

.bottomDiv {
  position:fixed;
  left:0px;
  bottom:20px;
  width:100%;
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  stroke-dasharray: 170 800;
  stroke-dashoffset: -440;
  transition: 1s all ease;
}

#text {
  margin-top: -70px;
  text-align: center;
}

#text a {
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

  text-decoration: none;
  font-weight: 100;
  font-size: 2.2em;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 6px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}