body {
    font-family: 'Roboto Slab', serif;
    padding:10px 40px;
}

.bg-yellow {
    overflow: hidden;
    height: 957px;
    text-align: center;
    color: #fff;
    background: linear-gradient(110deg, #fbff00 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #cc9c00 70%, #ffee51 70%);
}

.bg-yellow h1{
    font-size: 50px
}

.bg-yellow h1 {
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#tip {
    /* margin-top: 60px; */
    width: 60%;
    float: left;
}

.credit {
    font-family: 'Reenie Beanie', Helvetica, Arial, sans-serif;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.credit a {
    color: #fbff00;
    text-decoration: underline
}

/* FIXME */
@media only screen and (max-width: 1024px) {
    #tip {
        width: 100%;
        float: none
    }

    .container {
        max-height: 500px;
        overflow: auto
    }
}

